.order__table {
  max-width: 100%;
  margin: 25px auto;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  background: lemonchiffon;
  box-shadow: 0 0 25px #777;
  border: 1px solid transparent;
  @media all and (max-width: 560px) {
    margin: 25px auto;
  }
}

.order__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: palegoldenrod;
  border-radius: 5px;
  font-weight: bold;

}

.order__goodsWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order__name,
.order__count,
.order__price,
.order__sum,
.order__discount,
.order__priceDiscount,
.order__totalValue {
  width: calc(100% / 6);
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.order__price,
.order__sum,
.order__discount {
  @media all and (max-width: 700px) {
    display: none;
  }
}

.order__countGood {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order__fa {
  margin: 0 15px;
}

.order__total {
  display: flex;
  flex-direction: row;
  background: palegoldenrod;
  border-radius: 5px;
  font-weight: bold;

}

.order__totalLable {
  height: 50px;
  line-height: 50px;
  width: calc(100% / 6 * 5);
  padding-left: 7%
}

.bonusInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 250px;
  justify-content: space-evenly;
}

.bonus_header,
.happy_hours,
.delivery {
  font-family: El Messiri, sans-serif;
  color: chocolate;
  font-size: 30px;
}
