@import "variables";

main {
  max-width: 1345px;
}

.header_top {
  text-align: center;
  margin: 25px auto;
  @include headerFont();
}

@import "contact";
@import "admin";
@import "auth";
@import "index";
@import "menu";
@import "order";
@import "orderEnd";
@import "promo";
@import "guestbook";