@import "variables";


/**@import "../packages/bootstrap-4.0.0-beta.2/scss/bootstrap.scss";**/

/*#aside1 {  !* селектор блока, который будет оставаться на месте *!*/
/*position: fixed;*/
/*z-index: 101;*/
/*}*/

/*.sticky {*/
/*position: fixed;*/
/*top: 0px;  !* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню *!*/
/*z-index: 101;*/
/*}*/


/*.explain {*/
/*line-height: 50px;*/
/*}*/

/*.btnWrapItem{*/
/*display:flex;*/
/*flex-direction:column;*/
/*justify-content:space-evenly;*/
/*text-align: center;*/
/*width:300px;*/
/*}*/





.rowCell {
  border: solid black 1px;
  background: lemonchiffon;
  text-align:center;
  line-height: 46px;
  height: 50px;
}
.headerCell {
  background:palegoldenrod;
  border: solid black 1px;
  text-align:center;
  line-height: 46px;
  height: 50px;
  font-weight:600;
}


.btnAdmin {
  background:palegoldenrod;
  border: 1px solid black;
  max-width:100px;
  min-width:100px;
}

.countModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100px;
  line-height: 14px;
}






@import "contact";
@import "admin";
@import "auth";
@import "index";
@import "manager";
@import "menu";
@import "order";
@import "promo";
@import "guestbook";