<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/style.css">
    <title>Блоги - главная</title>
</head>
<body>
index.tmpl
<a href="/lesson5/public/news">новости</a>
<a href="/lesson5/public/blog">блог</a>
<a href="/lesson5/public">индекс</a>


<ul>
    {% for blog1 in blogsAll %}
        <li>{{ blog1.id }}</li>
        <li>{{ blog1.title }}</li>
        <li>{{ blog1.content }}</li>
        <a href='edit.php?id={{ good['goods_id'] }}' class='edit'>✎</a>
                    <a href='delete.php?id={{ good['goods_id'] }}' class='edit'>☒</a>
    {% endfor %}
</ul>

</body>
</html>