<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'head.tmpl' %}
    <title>Главная</title>
</head>
<body>
{% include 'menu.tmpl' %}
<main>
    <header class="header_top">Вход</header>
    <br>
    <br>
    <br>
    {{ message }}
    <br>
    <br>
    <br>
    <div class="auth__formWrap">
        <form action="/public/auth/authwithcredentials" method="post">
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" class="form-control" id="login" placeholder="Введите ваш логин" name="login">
            </div>
            <div class="form-group">
                <label for="password">пароль</label>
                <input type="password" class="form-control" id="password" placeholder="Введите ваш пароль" name="pass">
            </div>

            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</main>

{% include 'footer.tmpl' %}

</body>
</html>