<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'head.tmpl' %}
    <title>Главная</title>
</head>
<body>
{% include 'menu.tmpl' %}

<main>
    <header class="header_top">Кабинет</header>

    {% if auth == 'true' %}
        Приветствую, {{ name }}!<br>
        Это твой личный кабинет
    {% else %}
        Неверный логин или пароль!

    {% endif %}

    {% include 'footer.tmpl' %}
</main>
</body>
</html>