<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'head.tmpl' %}
    <title>Отзывы</title>
</head>
<body>
{% include 'menu.tmpl' %}

<main class="main_content">
    <header class="header_top">Отзывы наших клиентов</header>
    <div class='guestbook__table'>
        {% for item in comments %}
            <div class='guestbook__commentWrap'>
                <div class='guestbook__userName'>{{ item.name }}</div>
                <div class='guestbook__comment'>{{ item.comment }}</div>
                <div class='guestbook__dateTime'>{{ item.date }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="guestbook__feedback">
        <div class="guestbook__wrap">
            <header>Оставьте свой отзыв</header>
            <form method="post" action="/comment/add">
                <label for="guestName">Имя</label>
                <input type="text" id="guestName" name="name" required>
                <label for="guestMail">E-mail</label>
                <input type="text" id="guestMail" name="email" required>
                <label for="guestMassage">Сообщение</label>
                <textarea id="guestMassage" name="comment" required></textarea>
                <input type="submit" name="submit">
            </form>
        </div>
    </div>
</main>

{% include 'footer.tmpl' %}
</body>
</html>