<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Главная</title>
</head>
<body>
{% include 'menu.tmpl' %}

<div class='goodsTable'>
    {% for item in allGoods %}
        <div class='goodsWrap'>
            {% if item.discount>0 %}
                <div class="sticker"><img class="stickerImg" src="/public/css/star.png">
                    <span class="stickerTextFit">{{ item.discount }}</span></div>
            {% endif %}
            {% if item.stickerFit==1 %}
                <div class="sticker"><img class="stickerImg" src="/public/css/star.png">
                    <span class="stickerTextFit">Fit!</span></div>
            {% endif %}
            {% if item.stickerHit==1 %}
                <div class="sticker"><img class="stickerImg" src="/public/css/star.png">
                    <span class="stickerTextHit">Hit!</span></div>
            {% endif %}

            <div class="wrapGoodImg">
                <!-- Button trigger modal -->
                <a class="openItemGood" onclick="renderItemModal({{ item.id }})"
                        data-toggle="modal" data-target="#goodItem">
                    <img class='goodImg' src="/public/{{ item.miniPhoto }}">
                </a>
                <!-- Modal -->
                <div class="modal fade" id="goodItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body item_modal">
                            </div>
                            <div class="modal-footer item_footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapGoodInfo">
                <div class='goodsNameFull'>{{ item.nameFull }}</div>
                <div class='goodsPrice'>{{ item.price }}<b>&#8381;</b></div>
                <div class='goodsParam'><span><b>Состав: </b></span>{{ item.param }}</div>
            </div>
            <div class="btnWrap">
                <input type='button' class='addToBasket btn' value='Дoбавить в корзину'
                       onclick="addToBasket({{ item.id }})" data-id='{{ item.id }}'>
                <input type='button' class='deleteToBasket btn' value='Удалить из корзины'
                       onclick="deleteToBasket({{ item.id }})" data-id='{{ item.id }}'>
            </div>
        </div>
    {% endfor %}
</div>


{% include 'footer.tmpl' %}



</body>
</html>