<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/style.css">
    <title>Новости</title>
</head>
<body>
{% include 'menu.tmpl' %}

{{newsEdit}}

<a href="/public/news">новости</a>
<a href="/public/blog">блог</a>
<a href="/public">индекс</a>

<form action="/public/news/edit" method="post" enctype="multipart/form-data">
    <input class='upload_input' type="text" name="title" placeholder="Заголовок новости" value='{{newsOne.title}}'>
	<textarea class='upload_short_desc' name="content" placeholder="Текст новости">{{newsOne.content}}</textarea>
	<input type="hidden"  name="id" value="{{newsOne.id}}">
    <input class='upload_input menu_list_link' name='edit' type="submit">
</form>
</body>
</html>