<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'head.tmpl' %}
    <title>Спасибо за заказ!</title>
</head>
{% include 'menu.tmpl' %}
<body>
<main>
    <header class="header_top">Спасибо за Ваш заказ</header>
<div class="orderTableEnd">
    <script>
        $(document).ready(function () {
            renderOrderEnd();
        });
    </script>
</div>
</main>

{% include 'footer.tmpl' %}
</body>
</html>
