<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'head.tmpl' %}
    <title>Акции</title>
</head>
<body>
{% include 'menu.tmpl' %}

<main>
    <header class="header_top">Акции</header>
    <div id="container">
        <div class="content">
            <div class="promoWrap">
                <i class="fas fa-truck fa-7x"></i>
                <div class="promoText">
                    <span>Самовывоз</span><br>
                    <span>Скидка 10% если забираете заказ самостоятельно в филиале компании</span>
                </div>
            </div>
            <div class="promoWrap">
                <i class="far fa-clock fa-9x"></i>
                <div class="promoText">
                    <span>Акция "Счастливый час!</span><br>
                    <span>Скидка 7% при заказе от 0ч 00м до 8ч 00м</span>
                </div>
            </div>
            <div class="promoWrap">
                <i class="far fa-smile fa-9x"></i>
                <div class="promoText">
                    <span>Скидка дня!</span><br>
                    <span>Скидки до 10% на отдельные роллы и суши. Следите за акциями компании. Новые скидки каждый день!</span>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'footer.tmpl' %}
</body>
</html>
